# Keep the locally downloaded ACM template bundle out of this repository.
# The publication manuscript belongs in paper/ and remains trackable.
/ACM-Reference-Format.bst
/Makefile
/README
/acm-jdslogo.png
/acmguide.pdf
/acmart.*
/acmauthoryear.*
/acmdatamodel.*
/acmnumeric.*
/samples/

# LaTeX build products inside paper/
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.bcf
*.run.xml
*.synctex.gz
*~
